<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Ohio Chapter of the High Technology Crime Investigation Association is a non-profit organization whose mission is to encourage, promote, aid and effect the voluntary interchange of data, information, experience, ideas and knowledge about methods, processes, and techniques relating to investigations and security in advanced technologies among its membership.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000</h4>
                                    <h4 class="subheading">Ohio Chapter Founded</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A group of dedicated Ohio law enforcement officers working in CyberSecurity banded together and founded the Ohio Chapter of the High Technology Crime Investigation Association.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006</h4>
                                    <h4 class="subheading">Host of International Training Conference </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was our honor to host the International HTCIA Training Conference near Cleveland, Ohio.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007</h4>
                                    <h4 class="subheading">Student Charter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We became one of the first Chapters to adopt Charter memberships, offering university students a cost-effective membership option that opens doors to training and networking opportunities.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-Present</h4>
                                    <h4 class="subheading">Spring Training Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Every year, we host a local training conference at the serene Salt Fork Lodge & Conference center.</p>
                                </div>
                            </div>
                        </li>
                        <!--<li class="timeline-inverted">-->
                        <!--    <div class="timeline-image">-->
                        <!--        <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">-->
                        <!--    </div>-->
                        <!--    <div class="timeline-panel">-->
                        <!--        <div class="timeline-heading">-->
                        <!--            <h4>July 2014</h4>-->
                        <!--            <h4 class="subheading">Phase Two Expansion</h4>-->
                        <!--        </div>-->
                        <!--        <div class="timeline-body">-->
                        <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</li>-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
                    <p class="large text-muted">We typically met in person once each quarter.
                        <ul class="large text-muted">
                            <li>Q1: Cincinnati</li>
                            <li>Q2: Sprint Training Conference at Salt Fork Lodge & Conference Center</li>
                            <li>Q3: Akron/Canton</li>
                            <li>Q4: Columbus</li>
                        </ul>
                    </p>
            </div>
        </div>
    </section>
