<!-- Team Section -->
    <section id="join" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us!</h2>
                    <h3 class="section-subheading text-muted">If you have a passion for CyberSecurity and are looking for a like-minded community, let us know! </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Our members are typically law enforcement, IT professionals, or students advancing their skills in preparation to work in this field. If you are passionate about the field of high tech crimes and CyberSecurity and live in or near Ohio, we'd love to hear from you and talk about whether membership is right for you! Find us in public on Twitter, or by request for our members-only LinkedIn group.</p>
                    <p class="large text-muted">We typically met in person once each quarter.
                        <ul>
                            <li>1st Quarter: Cincinnati</li>
                            <li>2nd Quarter: Sprint Training Conference at Salt Fork Lodge & Conference Center</li>
                            <li>3rd Quarter: Akron/Canton</li>
                            <li>4th Quarter: Columbus</li>
                        </ul>
                    </p>
                    <p class="large text-muted">To learn more about HTCIA, to find a chapter near your location, or to join, please visit <a href="https://htcia.org/" target=international>HTCIA.org</a>.</p>
                </div>
            </div>
        </div>
    </section>
