<!-- Meetings Section -->
    <section id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meetings</h2>
                    <h3 class="section-subheading text-muted">We meet once each quarter. Our typical locations include: Cincinnati (Q1), Salt Fork (Q2), Akron/Canton (Q3), and Columbus (Q4).</h3>
                    <img src="img/meetings-map.png" alt="Map of Typical Meeting Locations" />
                </div>
            </div>
        </div>
    </section>
