<!-- About Section -->
    <section id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Ohio Chapter of the High Technology Crime Investigation Association is a non-profit organization whose mission is to encourage, promote, aid and effect the voluntary interchange of data, information, experience, ideas and knowledge about methods, processes, and techniques relating to investigations and security in advanced technologies among its membership.</h3>
                </div>
                    <p class="large text-muted">We typically meet in person once each quarter.
                        <ul class="large text-muted">
                            <li>Q1: Cincinnati</li>
                            <li>Q2: Spring Training Conference at Salt Fork Lodge & Conference Center</li>
                            <li>Q3: Akron/Canton</li>
                            <li>Q4: Columbus</li>
                        </ul>
                    <img src="img/meetings-map.png" alt="Map of Typical Meeting Locations" />
                    </p>
            </div>
        </div>
    </section>
